.react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.react-paginate li {
    display: inline-block;
    margin: 2px;
    border: 1px solid black;
    cursor: pointer;
    padding: 1px;
}
.react-paginate li a {
    padding: 3px;
}

.react-paginate .break a {
    cursor: default;
}
